<!-- Main de los eventos culturales -->
<main class="row justify-content-center align-items-center">
  <!-- Cards de centros culturales -->
  <div class="card">
    <a routerLink="centrosCulturales">
      <img src="../../assets/images/centro-cultural.jpg" class="card-img-top" alt="centroCultural" />
    </a>

    <div class="card-body justify-content-center d-flex">
      <a routerLink="centrosCulturales"> Centros culturales </a>
    </div>
  </div>

  <!-- Cards del mapa -->

  <div class="card">
    <a routerLink="mapa">
      <img src="../../assets/images/mapa.jpg" class="card-img-top" alt="mapa" />
    </a>
    <div class="card-body justify-content-center d-flex">
      <a routerLink="mapa">Mapa</a>
    </div>
  </div>

  <!-- Card de videos y escenarios -->
  <div class="card">
    <a routerLink="videosEscenarios">
      <img src="../../assets/images/escenarios.jpg" class="card-img-top" alt="escenarios" />
    </a>

    <div class="card-body justify-content-center d-flex">
      <a routerLink="videosEscenarios">
        Videos y escenarios
      </a>
    </div>
  </div>

  <!-- Merchandising -->

  <div class="card">
    <a routerLink="merchandising">
      <img src="../../assets/images/Merchandising.jpg" class="card-img-top" alt="merchandising" />
    </a>
    <div class="card-body justify-content-center d-flex">
      <a routerLink="merchandising">Merchandising</a>
    </div>
  </div>

  <!-- Card de calendario -->

  <div class="card">
    <a routerLink = "calendario">
      <img src="../../assets/images/calendario.png" class="card-img-top" alt="calendario" />
    </a>

    <div class="card-body justify-content-center d-flex">
       <a routerLink = "calendario">
            Calendario
       </a>
    </div>
  </div>

  <!-- Card de información -->

  <div class="card">
      <a routerLink = "informacion">
          <img src="../../assets/images/informacion.jpg" class="card-img-top" alt="informacion" />
      </a>
    <div class="card-body justify-content-center d-flex">
      <a routerLink = "informacion">Información</a> 
    </div>
  </div>
</main>
<!-- Fin del Main de los eventos culturales -->
