   <!-- Footer -->

        <footer id="footer" class="d-flex align-items-center flex-column pt-5">
            <div class="d-flex justify-content-center align-items-center">
               
                <div class="infoFooter">
                    <h3>Contáctenos</h3>
                    <p>AGRUPACIÓN ACTITUD COLOMBIA</p>
                    <span class="d-flex justify-content-between">
                        <p>Cel: 350 895 7670 </p>
                        <p>Cel: 311 895 8968</p>
                    </span>
                    <span class="mt-5">
                        <img src="../../assets/images/logo/logo-03.png" class="logoFooter" alt="logo3">
                        <a href="https://www.facebook.com/ActitudColombia" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <img src="../../assets/images/logo/logo-03.png" class="logoFooter" alt="logo3">
                    </span>
                </div>
               
            </div>
            <div class="logoFilarmonicaBogota">
                <img src="../../assets/images/sponsorsProyecto/Logo-OFB-BOGOTA-Blanco.png" alt="logoFilarmonicaBogota">
            </div>

        </footer>
        <!-- Fin del footer -->